[submodule "aktos-bash-lib"]
	path = lib
	url = https://github.com/aktos-io/aktos-bash-lib
[submodule "multistrap-helpers"]
	path = multistrap-helpers
	url = git@github.com:ceremcem/multistrap-helpers
[submodule "btrfs-snapshots-diff"]
	path = btrfs-snapshots-diff
	url = https://github.com/sysnux/btrfs-snapshots-diff
